
.maze{
  display: grid;
  justify-content: center;
  height: auto;
  width: 480px;
  grid-gap: 0px;
  grid-template-columns: repeat(25,auto);
  background: rgba(63, 51, 41, 0.966);
  border-style: solid;
  border-width: 25px;
  border-image: url(https://media.giphy.com/media/Jd3YqxseQXjmU/source.gif) 25% round;

}

.mazeContainer{
  display: flex;
  justify-content: center;
}

.game{

}